{% extends("base.html.twig") %}

{% block body%}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">A Propos</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">A Propos</li>
    </ol>
</div>
    <div class="container-fluid contact py-5">
        <div class="container py-5">
            <div class="p-5 bg-light rounded">
                <div class="row g-4">
                    <p> La Société CREDOL SARL est entreprise enregistrée au numéro RCCM :
                    CD/KNM/RCCM/22-B-00436 sous l’Identification Nationale N° 01-H5300-N10366Y dont
                    le siège social située au quartiere Golf, Commune de Dilala dans la Ville de Kolwezi et
                    Province du Lualaba, en République Démocratique du Congo.</p>
                    <p>CREDOL SARL a été créée avec pour objectif d’offrir aux entreprises
                    minières, aux banques et toute autre entreprise qui a besoin de services de Construction, Climatisation et froid, logistique, la fourniture des biens et services et le placement
                    de la main d’œuvre.</p>
                    <p>Spécialisés telles que les Mining, les banques, et autres entreprises ayant
                    besoin de transport et entreposage des matériaux et ou matières premières.
                    Aujourd'hui, CREDOL SARL est Forte de son expérience à long terme et
                    nous sommes devenus un partenaire fiable dans les domaines du transport routier,
                    ferroviaire et maritime pour nos clients internes et externes.</p>
                    <p>Nous sommes une sous-traitance minière mais aussi pour les Banques, les
                    entreprises commerciales les Industries et les entreprises Manufacturières
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}