<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="#">
                        <h1 class="text-primary mb-0">Credol SARL</h1>
                        <p class="text-secondary mb-0">Votre Partenaire de confiance Multiservices</p>
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative mx-auto">
                        <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="number" placeholder="Votre Email">
                        <button type="submit" class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">Souscrire</button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="d-flex justify-content-end pt-3">
                        <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Pourquoi Ils nous font confiance ?</h4>
                    <p class="mb-4">Nous sommes des experts de la construction -
                        Nous avons le savoir-faire reconnu -
                        Le respect des delais et des budgets -
                        La qualite et la durabilite -
                        L’ecoute et le conseil
                    </p>
                    <a href="" class="btn border-secondary py-2 px-4 rounded-pill text-primary">Lire Plus</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Info</h4>
                    <a class="btn-link" href="{{ path("app_apropos") }}">A Propos de Nous</a>
                    <a class="btn-link" href="{{ path("app_contact") }}">Nous Contacter</a>
                    <a class="btn-link" href="{{ asset("documents/profile_credol_sarl.pdf") }}">Profile d'Entreprise</a>
{#                    <a class="btn-link" href="">Termes & Condition</a>#}
{#                    <a class="btn-link" href="">Return Policy</a>#}
{#                    <a class="btn-link" href="">FAQs & Help</a>#}
                </div>
            </div>
{#            <div class="col-lg-3 col-md-6">#}
{#                <div class="d-flex flex-column text-start footer-item">#}
{#                    <h4 class="text-light mb-3">Account</h4>#}
{#                    <a class="btn-link" href="">My Account</a>#}
{#                    <a class="btn-link" href="">Shop details</a>#}
{#                    <a class="btn-link" href="">Shopping Cart</a>#}
{#                    <a class="btn-link" href="">Wishlist</a>#}
{#                    <a class="btn-link" href="">Order History</a>#}
{#                    <a class="btn-link" href="">International Orders</a>#}
{#                </div>#}
{#            </div>#}
            <div class="col-lg-4 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Contact</h4>
                    <p>Quartiere Golf, Commune de Dilala, Lualaba/RDCongo</p>
                    <p>Email: infos@credolsarl.com</p>
                    <p>Phone: +243 810 868 335</p>
                    <p>+243 852 589 126</p>
{#                    <p>Payment Accepted</p>#}
{#                    <img src="img/payment.png" class="img-fluid" alt="">#}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->